@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/roboto-300.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/roboto-300.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/roboto-300.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff */
        url(../fonts/roboto-300.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfSZ2oysoEQEeKwjgmXLRnTc.ttf */
        url(../fonts/roboto-300.svg#Roboto_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto-400.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/roboto-400.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/roboto-400.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff */
        url(../fonts/roboto-400.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf */
        url(../fonts/roboto-400.svg#Roboto_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v15#Roboto */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/roboto-500.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/roboto-500.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/roboto-500.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff */
        url(../fonts/roboto-500.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf */
        url(../fonts/roboto-500.svg#Roboto_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/roboto-700.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/roboto-700.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/roboto-700.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff */
        url(../fonts/roboto-700.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOCZ2oysoEQEeKwjgmXLRnTc.ttf */
        url(../fonts/roboto-700.svg#Roboto_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/roboto-300.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/roboto-300.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/roboto-300.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff */
        url(../fonts/roboto-300.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0atywlidHJgAgmTjOEEzwu1L8.ttf */
        url(../fonts/roboto-300.svg#Roboto_300_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/roboto-400.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/roboto-400.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/roboto-400.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff */
        url(../fonts/roboto-400.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf */
        url(../fonts/roboto-400.svg#Roboto_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/roboto-500.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/roboto-500.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/roboto-500.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff */
        url(../fonts/roboto-500.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0SwlidHJgAgmTjOEEzwu1L8.ttf */
        url(../fonts/roboto-500.svg#Roboto_500_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/roboto-700.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/roboto-700.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/roboto-700.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff */
        url(../fonts/roboto-700.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcCywlidHJgAgmTjOEEzwu1L8.ttf */
        url(../fonts/roboto-700.svg#Roboto_700_italic) format('svg'); /* {{svg-gf-url}} */
}