.root {
    position: relative;
    border-bottom: 1px solid #e4e6e8;
    display: table;
    width: 100%;
    padding: 15px 0 10px 0;
}
.attributeWrap {
    width: 170px;
    float: left;
    > span {
        width: 33.3333%;
        float: left;
        text-align: center;
        font-size: 12px;
        padding: 12px 0;
        span {
            width: 100%;
            display: inline-block;
        }
    }
}
.vote {
    color: #6a737c;
}
.reply {
    background: #5fba7d;
    color: #fff;
}
.view {
    color: #9B764F;
}
.summary {
    width: 530px;
    float: left;
    padding-left: 15px;
    display: table;
    h3 {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
    }
}
.tags {
    margin-bottom: 10px;
    display: inline-block;
    a {
        color: #39739d;
        background-color: #E1ECF4;
        border-color: transparent;
        margin-right: 5px;
        padding: 5px 8px;
        font-size: 12px;
        display: inline-block;
        &:hover {
            color: #33658a;
            background-color: #cee0ed;
            border-color: rgba(0,0,0,0);
        }
    }
}
.meta {
    display: inline-block;
    float: right;
    font-size: 11px;
}
.update_at {
    color: #9199a1;
}
.author {
    // margin-left: 5px;
}