.root {
    display: inline-block;
    width: 100%;
    height: 10px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #eff0f1;
    background: linear-gradient(to right, #eff0f1 8%, #F5F5F5 18%, #eff0f1 33%);
    background-size: 800px 100px;
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}
